

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
h1{
    padding-left: 300px;
}
.quiz{
    margin-top: 0px;
    padding-left: 330px;
    font-size: 20px;
}
h2{
    padding-left: 300px;
    margin-top:  45px;
}
ul{
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    list-style-type: none;
}
ul li label{
    cursor: pointer;
}
#list1{
    background-color: ghostwhite;
    margin-right:300px;
}
#list2{
    background-color: ghostwhite;
    margin-top: 30px;
    margin-right:300px;
}
#list3{
    background-color: ghostwhite;
    margin-top: 30px;
    margin-right:300px;
}
#list4{
    background-color: ghostwhite;
    margin-top: 30px;
    margin-right:300px;
}
#list5{
    background-color: ghostwhite;
    margin-top: 30px;
    margin-right:300px;
}
#list6{
    background-color: ghostwhite;
    margin-top: 30px;
    margin-right:300px;
}
#list7{
    background-color: ghostwhite;
    margin-top: 30px;
    margin-right:300px;
}
#list8{
    background-color: ghostwhite;
    margin-top: 30px;
    margin-right:300px;
}
#list9{
    background-color: ghostwhite;
    margin-top: 30px;
    margin-right:300px;
}
#list10{
    background-color: ghostwhite;
    margin-top: 30px;
    margin-right:300px;
}

#button{
    background-color: green;
    margin-left: 300px;
    margin-top: 50px;
    border: 15px solid green;
    font-size: 20px;
}
#button:hover{
    color: palevioletred;
}

header{
    background-position: fixed;
    background-color:azure;
}