h1{
    padding-left: 300px;
}
.quiz{
    margin-top: 0px;
    padding-left: 330px;
    font-size: 20px;
}
h2{
    padding-left: 300px;
    margin-top:  45px;
}
ul{
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
}
#list1{
    background-color: ghostwhite;
}
#list2{
    background-color: ghostwhite;
    margin-top: 30px;
}
#list3{
    background-color: ghostwhite;
    margin-top: 30px;
}
#list4{
    background-color: ghostwhite;
    margin-top: 30px;
}
#list5{
    background-color: ghostwhite;
    margin-top: 30px;
}
#list6{
    background-color: ghostwhite;
    margin-top: 30px;
}